@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.f-wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.f-wrap::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.f-wrap > form {
    position: relative;
    background: rgba(233, 91, 91, 0.1);
    backdrop-filter: blur(15px);
    min-width: 500px;
    min-height: 500px;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    border: 2px solid rgba(117, 230, 107, 0.3);
    box-shadow: 0 0 30px rgba(68, 10, 226, 0.2);
}

.f-wrap > form > h1 {
    color: #000000;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0 0 30px;
}

.f-wrap .f-group {
    position: relative;
    margin: 0 0 20px;
}

.f-wrap .f-group i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.f-wrap .f-group input {
  width: 100%;
  background: transparent;
  min-height: 55px;
  font-size: 14px;
  color: #000000;
  padding: 0 40px 0 20px;
  border-radius: 50px;
  outline: unset;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.f-wrap .f-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.f-wrap .f-group input:focus {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.f-wrap .pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-wrap .pass label {
    color: #020202;
    cursor: pointer;
}

.f-wrap .pass a {
    color: #050505;
    font-weight: 500;
    text-decoration: unset;
}

.f-wrap .login {
    margin: 20px 0;
}

.f-wrap .login button {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: 600;
    min-height: 50px;
    border: 0;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.f-wrap .login button:hover {
    background: #e28888;
    color: #000;
}

.f-wrap .sign-up p {
    color: #000000ab;
}

.f-wrap .sign-up a {
    color: #000000;
    font-weight: 600;
    text-decoration: unset;
}
.f-wrap .f-group i.fa-eye-slash {
  color: #000000;
}